// Import the default minimal-mistakes styles
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Apply custom fonts to specific elements
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.site-title {
  font-family: $monospace;
}

body {
  font-family: $global-font-family;
}

// Add any other custom CSS rules as needed
